@model Application.ViewModels.Series.GuardarSeriesViewModel


<div class="row mb-3">

    <h2 class="text-center nav-link text-white fw-bold"> Eliminar Productora </h2>
  
</div>

<div class="row mb-3">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-success text-light">
                <h4>Esta seguro que desea eliminar la Serie @Model.Nombre?</h4>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Series" asp-action="DeletePost">                 

                    <input type="hidden" asp-for="Id" />

                    <a asp-controller="Series" asp-action="Index" class="btn btn-primary">Volver atras</a>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
